/*TELA 1,2,3 REAPROVEITAMENTO DE CSS*/

header {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 201px;
  background: #c83d2f 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 100%;
}

.div-cadastro {
  text-align: center;
  margin-top: -5%;
  background-color: white;
  width: 50%;
  box-shadow: 0 0 1rem rgb(124, 124, 124);
  width: 460px;
  height: 68vh;
}

.div-formulario {
  display: flex;
  padding: 25px;
}

.h1-titulo {
  color: #c83d2f;
  opacity: 1;
  font-size: 27px;
  font-weight: bold;
}

.p {
  margin-top: -8px;
  font-size: 20px;
}

.textos-dados {
  display: flex;
  color: #c83d2f;
  text-align: center;
  align-content: space-around;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.linha {
  top: 141px;
  left: 900px;
  width: 0px;
  height: 24px;
  border: 1px solid #e5e5e5;
  opacity: 1;
}

.span {
  display: flex;
  color: #707070;
  font-size: 11px;
}

.span-tela2 {
  display: flex;
  color: #707070;
  margin-top: 20px;
  font-size: 14px;
}

label {
  display: flex;
}

.progress {
  margin-top: 10px;
}

.form-div {
  margin-top: 10px;
}

.label-check {
  font-size: 15px;
}

.btn-continuar {
  color: #fff;
  top: 740px;
  left: 1008px;
  width: 116px;
  height: 53px;
  background: #707070 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
}
a {
  text-decoration: none;
  color: inherit;
}

.icons {
  top: 346px;
  left: 799px;
  width: 100px;
  height: 117px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
  box-shadow: 0 0 1rem rgb(173, 173, 173);
  padding: 8px;
  cursor: pointer;
}

.div-icones {
  display: flex;
  flex-wrap: wrap;
  margin: 12px;
  padding: 51px;
}

.icons:hover {
  border: 1px solid #c83d2f;
}

.segmento {
  display: flex;
  align-items: center;
  width: 199px;
  height: 117px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
  box-shadow: 0 0 1rem rgb(173, 173, 173);
  justify-content: center;
}

.voltar {
  top: 740px;
  width: 100px;
  height: 53px;
  border: 1px solid #707070;
  border-radius: 2px;
  opacity: 1;
  background-color: #fff;
  margin-top: 10px;
}

.btn-criarconta {
  top: 740px;
  width: 200px;
  height: 53px;
  background: #c83d2f 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  color: white;
  margin-top: 10px;
  margin-left: 2px;
  border: none;
}

.input-segmento {
  display: flex;
  justify-content: center;
  border: none;
}

.finalizando-pedido{
  margin-top: 40%;
}

@media screen and (max-width: 420px) {
  .div-cadastro {
    width: 100%;
    box-shadow: none;
  }

  .div-icones {
    display: flex;
    flex-wrap: wrap;
    margin: 12px;
    padding: 51px;
    justify-content: center;
  }
}
